<html>
  <head>
    <title>VLEAD</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-md-12">
      <div class="col-md-4"></div>
      {% if session.email %}
      <div class="col-md-4">
	<h2>Welcome {{ session.email }}</h2><br><br>
	{% else %}
	
	{% endif %}
      </div>
      <div class="col-md-4">
	{% if session.email %}
	<h2><a href="/logout">Logout</a></h2>
	{% else %}
	{% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
