{% extends "base.html" %}
{% block content %}
<h2>List of registered users </h2><br>
 
    <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-stripped">
	<thead>
	  <tr>
            <th>ID</th>
	    <th>Name</th>
	    <th>Email-id</th>
	  </tr>
	</thead>
	<tbody>
	  {% for user in users %}
	  <tr>
	    <td>{{ user.id }}</td>
	    <td>{{ user.username }}</td>
	    <td>{{ user.email }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>





{% endblock %}
